/* Reset and Basic Styles */
body, h1, h2, h3, p, nav, main, footer, img, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover, nav a.active{
    background-color: #555;
    border-radius: 5px;
}

